html, body {
    height: 100%;
    width: 100%;
    position: relative;
}

.ivu-table-cell-tooltip {
    .ivu-tooltip-rel{
        vertical-align: top;
    }
}

.layout-content-main {
    .ivu-card {
        margin-bottom: 15px;
        .ivu-card-head p{
            height: 24px;
            .ivu-btn{
                float: right;
            }
        }
    }
}