html, body {
    height: 100%;
    width: 100%;
    position: relative;
}

.ivu-table-cell-tooltip {
    .ivu-tooltip-rel{
        vertical-align: top;
    }
}

.layout-content-main {
    .ivu-card {
        margin-bottom: 15px;
        .ivu-card-head p{
            height: 24px;
            .ivu-btn{
                float: right;
            }
        }
    }
}

.ivu-menu-item-group>ul{
    padding-left: 15px !important;
}


::-webkit-scrollbar {/*滚动条整体样式*/
    width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);*/
    background: #535353;
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
    border-radius: 5px;
}
